<footer class="footer">
    <div class="contenedor--institucional">
        <ul class="institucional">
            <span><strong>Institucional</strong></span>
            <i class="fa-solid fa-angle-up " id="flecha-arriba"></i>
            <li><a href="about" class="link">Quienes somos</a></li>
            <li><a href="#" class="link">Productos</a></li>
            <li><a href="#" class="link">Legales</a></li>
        </ul>
    </div>

    <div class="contenedor--cliente">
        <ul class="cliente">
            <span><strong>Cliente</strong></span>
            <i class="fa-solid fa-angle-up " id="flecha-arriba"></i>
            <li><a href="miCuenta" class="link">Mi cuenta</a></li>
            <li><a href="faq" class="link">Preguntas frecuentes</a></li>
            <li><a href="#" class="link">Atención al cliente</a></li>
        </ul>
    </div>

    <div class="contenedor--contacto">
        <ul class="contacto">
            <span><strong>Contacto</strong></span>
            <i class="fa-solid fa-angle-up " id="flecha-arriba"></i>
            <p class="wpp"><i class="fa-brands fa-whatsapp"></i>12345678</p>
        <p><i class="fa-solid fa-envelope"></i>sarasa@sarasa.com.ar</p>               
        </ul>
    </div>

    <div class="contenedor--newsletter">
        <ul class="newsletter">
            <span><strong>Newsletter</strong></span>
            <i class="fa-solid fa-angle-up " id="flecha-arriba"></i>
            <p><input type="email" class="input--email" placeholder="Ingrese su dirección de email..."></p>
            <input type="submit">
                
        </ul>
    </div>

    <div class="contenedor--seguinos">
        <ul class="seguinos">
            <span><strong>Seguinos</strong></span>
            <div class="contenedor-redes">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram-square"></i>
                <i class="fab fa-twitter"></i>
            </div>

        </ul>
    </div>


    
</footer>