<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
<body>
    <p>Somos un eCommerce especializado en la venta de infusiones orgánicas de primer nivel, específicamente yerba mate y té en diversas variedades como también accesorios.

        Los productos ofrecidos por la empresa están orientados a los amantes del mate y té que gusten descubrir nuevas variedades y sabores únicos.
        
        La venta de los productos se realiza por e-Commerce en el que el usuario utilizando su cuenta agregará los productos al carrito de compras y serán recibidos en la dirección solicitada.</p>
        <a href="/"><button>Volver</button></a>
</body>
</html>