<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30a937ae38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header_footer.css"> 
    <link rel="stylesheet" href="/css/indexStyle.css">
    <script src="/scripts/indexScripts.js"></script>
    <title>DigiCommerce</title>
</head>

<body>
    <%-include('./partials/header')%>
    <main>
        <%-include('./partials/carrusel')%>


        <section class="contenedor-productos">

            <h2 class="pDestacados">Productos destacados</h2>

            <section class="contenedor-p1">

                <div class="articulo">
                    <a href="/product/productDetail" class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto1</p>
                        <P class="price">Precio: $350</P>
                     </a>
                        <div class="button-container">
                            <button class="botonBuy" onclick= "add('producto-1',350)">Agregar al carrito</button>
                        </div>
                </div>

                <div class="articulo">
                    <a href="/product/productDetail" class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto2</p>
                        <P class="price">Precio: $200</P>
                     </a>
                        <div class="button-container">
                            <button class="botonBuy" onclick= "add('producto-2',200)">Agregar al carrito</button>
                        </div>
                </div>

                <div class="articulo">
                    <a href="/product/productDetail" class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto3</p>
                        <P class="price">Precio: $35</P>
                     </a>
                        <div class="button-container">
                            <button class="botonBuy" onclick= "add('producto-3',35)">Agregar al carrito</button>
                        </div>
                </div>

                <div class="articulo">
                    <a href="/product/productDetail" class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto4</p>
                        <P class="price">Precio: $50</P>
                     </a>
                        <div class="button-container">
                            <button class="botonBuy" onclick= "add('producto-4',50)">Agregar al carrito</button>
                        </div>
                </div>

            </section>

            <h2 class="pOfertas">Ofertas</h2>

            <section class="contenedor-p2">

                <div class="articulo">
                    <a href="/product/productDetail" class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto5</p>
                        <P class="price">Precio: $150</P>
                     </a>
                        <div class="button-container">
                            <button class="botonBuy" onclick= "add('producto-5',150)">Agregar al carrito</button>
                        </div>
                </div>
                
                <div class="articulo">
                    <a href="/product/productDetail" class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto6</p>
                        <P class="price">Precio: $75</P>
                     </a>
                        <div class="button-container">
                            <button class="botonBuy" onclick= "add('producto-6',75)">Agregar al carrito</button>
                        </div>
                </div>

                <div class="articulo">
                    <a href="/product/productDetail" class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto7</p>
                        <P class="price">Precio: $35</P>
                     </a>
                        <div class="button-container">
                            <button class="botonBuy" onclick= "add('producto-7',35)">Agregar al carrito</button>
                        </div>
                </div>
                

                <div class="articulo">
                    <a href="/product/productDetail" class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto8</p>
                        <P class="price">Precio: $80</P>
                     </a>
                        <div class="button-container">
                            <button class="botonBuy" onclick= "add('producto-8',80)">Agregar al carrito</button>
                        </div>
                </div>

            </section>
        </section>

        </div>

    </main>


    <%-include('./partials/footer')%>
    

</body>

</html>