<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30a937ae38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/loginForm.css">
    <link rel="stylesheet" href="/css/cartStyles.css">
    <title>Login Page</title>
</head>

<body>
    <div class="grilla-contenedora">
        <header class="header">
            <nav class="nav--bar">
                <div class="contenedor--logo">
                    <a href="/">
                        <img src="/img/logo.jpg" alt="Logo" class="logo">
                    </a>
                </div>
                <ul>
                    <li><a href="/" class="link">Inicio</a></li>
                    <li><a href="#" class="link">Productos</a></li>
                    <li><a href="/about" class="link">Nosotros</a></li>
                    <li><a href="#" class="link">Contacto</a></li>
                </ul>
                <div class="contenedor--buscador">
                    <input type="text" class="input--buscador" placeholder="Buscar...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="iniciar-sesion">
                    <a href="/loginForm">Iniciar sesión</a>
                </div>
                <div class="carro-compras">
                    <a href="/carro-compras" class="link-carro">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <p class="precio--total">$10.00</p>
                    </a>
                </div>
                <div class="menu--hamburguesa">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </nav>
        </header>
        <main>
            <form action="/" method="GET">
                <div class="box-datos">
                    <label for="nombre-usuario">Nombre de Usuario:</label>
                    <input type="text" name="nombre-usuario" id="nombre-usuario" style="text-transform:uppercase">
                </div>
                <div class="box-datos">
                    <label for="password">Ingrese la contraseña:</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="checkbox">
                    <div class="option-cb">
                        <input type="checkbox" name="recordarme" value="recordarme" id="recordarme" checked>Recordarme
                    </div>
                </div>
                <a href="#">Olvidaste tus datos de acceso?</a>
            </form>
            <div class="botones">
                <a href="/"><button type="submit">Ingresar</button></a>
            </div>
        </main>
        <footer class="footer">
            <div class="contenedor--institucional">
                <ul class="institucional">
                    <span><strong>Institucional</strong></span>
                    <i class="fa-solid fa-angle-up " id="flecha-arriba"></i>
                    <li><a href="about" class="link">Quienes somos</a></li>
                    <li><a href="#" class="link">Productos</a></li>
                    <li><a href="#" class="link">Legales</a></li>
                </ul>
            </div>

            <div class="contenedor--cliente">
                <ul class="cliente">
                    <span><strong>Cliente</strong></span>
                    <i class="fa-solid fa-angle-up " id="flecha-arriba"></i>
                    <li><a href="miCuenta" class="link">Mi cuenta</a></li>
                    <li><a href="faq" class="link">Preguntas frecuentes</a></li>
                    <li><a href="#" class="link">Atención al cliente</a></li>
                </ul>
            </div>

            <div class="contenedor--contacto">
                <ul class="contacto">
                    <span><strong>Contacto</strong></span>
                    <i class="fa-solid fa-angle-up " id="flecha-arriba"></i>
                    <p><i class="fa-brands fa-whatsapp"></i>12345678</p>
                    <p><i class="fa-solid fa-envelope"></i>sarasa@sarasa.com.ar</p>
                </ul>
            </div>

            <div class="contenedor--newsletter">
                <ul class="newsletter">
                    <span><strong>Newsletter</strong></span>
                    <i class="fa-solid fa-angle-up " id="flecha-arriba"></i>
                    <p><input type="email" class="input--email" placeholder="Ingrese su dirección de email..."></p>
                    <input type="submit">

                </ul>
            </div>

            <div class="contenedor--seguinos">
                <ul class="seguinos">
                    <span><strong>Seguinos</strong></span>
                    <div class="contenedor-redes">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram-square"></i>
                        <i class="fab fa-twitter"></i>
                    </div>

                </ul>
            </div>



        </footer>
    </div>

</body>

</html>