<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30a937ae38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/loginForm.css">
    <link rel="stylesheet" href="/css/cartStyles.css">
    <title>Login Page</title>
</head>

<body>
    <div class="grilla-contenedora">
        <%-include('./partials/header')%>
        <main>
            <form action="/" method="GET">
                <div class="box-datos">
                    <label for="nombre-usuario">Nombre de Usuario:</label>
                    <input type="text" name="nombre-usuario" id="nombre-usuario" style="text-transform:uppercase">
                </div>
                <div class="box-datos">
                    <label for="password">Ingrese la contraseña:</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="checkbox">
                    <div class="option-cb">
                        <input type="checkbox" name="recordarme" value="recordarme" id="recordarme" checked>Recordarme
                    </div>
                </div>
                <a href="#">Olvidaste tus datos de acceso?</a>
            </form>
            <div class="botones">
                <a href="/"><button type="submit">Ingresar</button></a>
            </div>
        </main>
        <%-include('./partials/footer')%>
    </div>

</body>

</html>