<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30a937ae38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/cartStyles.css">
    <title>Carro de Compras</title>
</head>
<body>
    <header class="header">
        <nav class="nav--bar">
            <div class="contenedor--logo">
                <img src="/img/logo.jpg" alt="Logo" class="logo">
            </div>
            <ul>
                <li><a href="#" class="link">Inicio</a></li>
                <li><a href="#" class="link">Productos</a></li>
                <li><a href="#" class="link">Nosotros</a></li>
                <li><a href="#" class="link">Contacto</a></li>
            </ul>
            <div class="contenedor--buscador">
                <input type="text" class="input--buscador" placeholder="Buscar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="iniciar-sesion">
                <p class="texto-inicio-sesion">Iniciar sesion</p>
            </div>
            <div class="carro-compras">
                <i class="fa-solid fa-cart-shopping"></i>
                <p class="precio--total">$10.00</p>
            </div>
        </nav>
    </header>
</body>
</html>