<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30a937ae38.js" crossorigin="anonymous"></script>
    <title>Detalle de Producto</title>
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
    <header class="header">
        <nav class="nav--bar">
            <div class="contenedor--logo">
                <a href="/">
                    <img src="/img/logo.jpg" alt="Logo" class="logo">
                </a>
            </div>
            <ul>
                <li><a href="/" class="link">Inicio</a></li>
                <li><a href="#" class="link">Productos</a></li>
                <li><a href="/about" class="link">Nosotros</a></li>
                <li><a href="#" class="link">Contacto</a></li>
            </ul>
            <div class="contenedor--buscador">
                <input type="text" class="input--buscador" placeholder="Buscar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="iniciar-sesion">
                <a href="/loginForm">Iniciar sesión</a>
                <!-- <p class="texto-inicio-sesion">Iniciar sesion</p> -->
            </div>
            <div class="carro-compras">
                <a href="/carro-compras" class="link-carro">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p class="precio--total">$10.00</p>
                </a>
            </div>
            <div class="menu--hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
    </header>
    <main>
        <div class="image-container">
            <section class="image">
                <img src="/img/pava.jpg" alt="producto">
            </section>
            <section class="other-images">
                <article>
                    <img src="/img/pava.jpg" alt="producto">
                </article>
                <article>
                    <img src="/img/pava.jpg" alt="producto">
                </article>
                <article>
                    <img src="/img/pava.jpg" alt="producto">
                </article>
                <article>
                    <img src="/img/pava.jpg" alt="producto">
                </article>
            </section>
        </div>
        <div class="description-container">
            <section class="main-section">
                <h2>Nombre del Producto</h2>
                <h4>$$$$$$</h4>
                <h3>XX cuotas de $$$$</h3>
                <a href="/metodosDePago">Ver más metodos de pago</a>
            </section>   
            <section class="buttons">
                <article class="form1">
                    <div class="type-quantity">
                        <label for="product-type">Tipo</label>
                        <select class="options" name="type" id="product-type">
                            <option value="a">Opción A</option>
                            <option value="b">Opción B</option>
                            <option value="c">Opción C</option>
                        </select>                  
                    </div>
                    <div class="type-quantity">                    
                        <label for="product-quantity">Cantidad</label>
                        <select class="options" name="type" id="product-type">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </article>
                <article class="form2">
                    <button type="submit">Agregar al carrito</button>
                    <button type="submit">Comprar ahora</button>
                </article>
            </section> 
            <section class="product-description">
                <h3>Descripción</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, repellendus fugiat sunt praesentium eius sapiente voluptatem, soluta quo tempore rerum vitae veritatis nemo, molestias non voluptatibus facilis! Sapiente, reiciendis? Corrupti.</p>
            </section> 
        </div>
        <div class="related-products">
            <h3>Productos relacionados</h3>
            <section class="other-product">
                <img src="/img/pava.jpg">
                <p class="product-name">Nombre del Producto</p>
                <p class="price">$$$$$$</p>
            </section>
            <section class="other-product">
                <img src="/img/pava.jpg">
                <p class="product-name">Nombre del Producto</p>
                <p class="price">$$$$$$</p>
            </section>
            <section class="other-product">
                <img src="/img/pava.jpg">
                <p class="product-name">Nombre del Producto</p>
                <p class="price">$$$$$$</p>
            </section>

        </div>
            
    </main>

    <footer class="footer">
        <div class="contenedor--institucional">
            <ul class="institucional">
                <span><strong>Institucional</strong></span>
                <i class="fa-solid fa-angle-up " id="flecha-arriba"></i>
                <li><a href="about" class="link">Quienes somos</a></li>
                <li><a href="#" class="link">Productos</a></li>
                <li><a href="#" class="link">Legales</a></li>
            </ul>
        </div>

        <div class="contenedor--cliente">
            <ul class="cliente">
                <span><strong>Cliente</strong></span>
                <i class="fa-solid fa-angle-up " id="flecha-arriba"></i>
                <li><a href="miCuenta" class="link">Mi cuenta</a></li>
                <li><a href="faq" class="link">Preguntas frecuentes</a></li>
                <li><a href="#" class="link">Atención al cliente</a></li>
            </ul>
        </div>

        <div class="contenedor--contacto">
            <ul class="contacto">
                <span><strong>Contacto</strong></span>
                <i class="fa-solid fa-angle-up " id="flecha-arriba"></i>
                <p><i class="fa-brands fa-whatsapp"></i>12345678</p>
            <p><i class="fa-solid fa-envelope"></i>sarasa@sarasa.com.ar</p>               
            </ul>
        </div>

        <div class="contenedor--newsletter">
            <ul class="newsletter">
                <span><strong>Newsletter</strong></span>
                <i class="fa-solid fa-angle-up " id="flecha-arriba"></i>
                <p><input type="email" class="input--email" placeholder="Ingrese su dirección de email..."></p>
                <input type="submit">
                    
            </ul>
        </div>

        <div class="contenedor--seguinos">
            <ul class="seguinos">
                <span><strong>Seguinos</strong></span>
                <div class="contenedor-redes">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram-square"></i>
                    <i class="fab fa-twitter"></i>
                </div>

            </ul>
        </div>
    </footer>   

    
</body>
</html>