<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30a937ae38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/cartStyles.css">
    <title>Carro de Compras</title>
</head>
<body>
    <div class="grilla-contenedora">
        <%-include('./partials/header')%>
        <main class="main">
            <div class="contenedor-carro-compras">
                <section class="contenedor-titulo">
                    <h3 class="titulo-carro">Carro de Compras (n)</h3>
                </section>
                <section class="contenedor-articles">
                    <article class="producto">
                        <div class="flex-item contenedor-imagen-producto">
                            <img src="/img/te.jpg" alt="foto-producto" class="foto-producto">
                        </div>
                    <div class="flex-item informacion-producto">
                            <div class="flex-item contenedor-descripcion-producto">
                                <h4 class="nombre-producto">Te #</h4>
                                <p class="descripcion-producto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, aperiam.</p>
                            </div>          
                            <div class="flex-item contenedor-precio-producto">
                                <p class="precio-parcial-producto">$6000</p>
                            </div>
                            <div class="contenedor-input">
                                <input type="number" class="flex-item cantidad-producto" value="1">
                            </div>
                    </div>
                        <div class="contenedor-subtotal flex-item">
                            <p class="precio-subtotal">$6000</p>
                        </div>
                        <div class="contenedor-basura ">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </article>
                    <article class="producto">
                        <div class="flex-item contenedor-imagen-producto">
                            <img src="/img/te.jpg" alt="foto-producto" class="foto-producto">
                    </div>
                        <div class="flex-item informacion-producto">
                            <div class="flex-item contenedor-descripcion-producto">
                                <h4 class="nombre-producto">Te #</h4>
                                <p class="descripcion-producto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, aperiam.</p>
                            </div>
                            
                            <div class="flex-item contenedor-precio-producto">
                                <p class="precio-parcial-producto">$6000</p>
                            </div>
                            <div class="contenedor-input">
                                <input type="number" class="flex-item cantidad-producto" value="2">
                            </div>
                        </div>
                        <div class="contenedor-subtotal flex-item">
                            <p class="precio-subtotal">$12000</p>
                        </div>
                        <div class="contenedor-basura ">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </article>
                    <article class="producto">
                        <div class="flex-item contenedor-imagen-producto">
                            <img src="/img/te.jpg" alt="foto-producto" class="foto-producto">
                    </div>
                        <div class="flex-item informacion-producto">
                            <div class="flex-item contenedor-descripcion-producto">
                                <h4 class="nombre-producto">Te #</h4>
                                <p class="descripcion-producto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, aperiam.</p>
                            </div>
                            
                            <div class="flex-item contenedor-precio-producto"><p class="precio-parcial-producto">$6000</p></div>
                            <div class="contenedor-input">
                                <input type="number" class="flex-item cantidad-producto" value="4">
                            </div>
                        </div>
                        <div class="contenedor-subtotal flex-item">
                            <p class="precio-subtotal">$24000</p>
                        </div>
                        <div class="contenedor-basura ">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </article>
                    <article class="producto">
                        <div class="flex-item contenedor-imagen-producto">
                            <img src="/img/te.jpg" alt="foto-producto" class="foto-producto">
                        </div>
                    <div class="flex-item informacion-producto">
                            <div class="flex-item contenedor-descripcion-producto">
                                <h4 class="nombre-producto">Te #</h4>
                                <p class="descripcion-producto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, aperiam.</p>
                            </div>          
                            <div class="flex-item contenedor-precio-producto">
                                <p class="precio-parcial-producto">$6000</p>
                            </div>
                            <div class="contenedor-input">
                                <input type="number" class="flex-item cantidad-producto" value="1">
                            </div>
                    </div>
                    
                        <div class="contenedor-subtotal flex-item">
                            <p class="precio-subtotal">$6000</p>
                        </div>
                        <div class="contenedor-basura ">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </article> 
                </section>
            </div>
            <div class="contenedor-resumen-compra">
                <div class="contenedor-resumen-fixed">
                    <p class="confirmacion-compra">Confirmacion de la compra</p>
                    <div class="contenedor-datos-finales">
                        <p class="cantidad-productos">Productos (n):</p>
                        <p class="precio">$25.000</p>
                        <p class="Envio">Envio:</p>
                        <p class="precio precio-envio">$400</p>
                        <p class="subtotal">Subtotal:</p>
                        <p class="precio ">$25.400</p>
                        <p class="impuestos">IVA (21%):</p>
                        <p class="precio">$5.334</p>
                        <div class="contenedor-total-pedido">
                            <p id="total-pedido">Total del pedido:</p>
                            <p class="precio" id="precio-total">$30.734</p>
                        </div>
                        <div class="contenedor-botones-pago">
                            <a href="#" class="continuar-compra">Continuar comprando <i class="fa-solid fa-store"></i></a>
                            <a href="/info-usuario" class="boton-pago">Proceder al pago <i class="fa-solid fa-credit-card"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%-include('./partials/footer')%>
    </div>
</body>
</html>