<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/registrationForm.css">

    <title>Formulario de registro</title>


</head>
<body>
    
    <section>
        <div class="camposObligatorios">
        
            <h4>Formulario de registro</h4>
            <div>

                <form action="resultado.html" method="POST">
                
                
                <input class="campos" type="text" class="input--nombre" placeholder="Nombre...">

               
                <input class="campos" type="email" class="input--email" placeholder="Email...">
                 
                
                <input class="campos" type="text" class="input--telefono" placeholder="Telefono...">

                
                <input class="campos" type="password" class="input--contraseña" placeholder="Contraseña...">
                
                
                <input class="campos" type="password" class="input--confirmarContraseña" placeholder="Confirmar Contraseña...">
            
                </form>
                
                <input class="boton" type="submit" value="CREAR CUENTA">

            </div>
        </div>
    </section>
</body>
</html>