<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/registrationForm.css">

    <title>Formulario de registro</title>


</head>
<body>
    
    <section>
        <div class="camposObligatorios">
        
            <h4>Formulario de registro</h4>
            <div>

                <form action="resultado.html" method="POST">
                
                <label></label>
                <input class="campos" type="text"  placeholder="Nombre..."></input>

                <label></label>
                <input class="campos" type="email"  placeholder="Email..."></input>
                 
                <label></label>
                <input class="campos" type="text"  placeholder="Telefono..."></input>

                <label></label>
                <input class="campos" type="password"  placeholder="Contraseña..."></input>
                
                <label></label>
                <input class="campos" type="password"  placeholder="Confirmar Contraseña..."></input>
            
                </form>
            </div>
                <div class="boton">
                    <input type="submit" value="CREAR CUENTA"></input>
                </div>
        </div>
    </section>
</body>
</html>