<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30a937ae38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header_footer.css"> 
    <link rel="stylesheet" href="/css/teaProductStyle.css">
    <title>DigiCommerce</title>
</head>

<body>
    <%-include('./partials/header')%>
    <main>
        <div class="carrusel">
            <img src="/img/banner1.jpg" alt="banner" id="banner1">
            <img src="/img/banner2.jpg" alt="banner" id="banner2">
            <img src="/img/banner3.jpg" alt="banner" id="banner3">
            <img src="/img/banner4.jpg" alt="banner" id="banner4">

        </div>


        <section class="contenedor-productos">

            <h2 class="pDestacados">Productos destacados</h2>

            <section class="contenedor-p1">

                <a href="/product/productDetail" class="articulo">
                    <div class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto</p>
                        <P class="price">Precio: $$$</P>
                        <button class="botonBuy">Agregar al carrito</button>
                    </div>
                </a>

                <a href="/product/productDetail" class="articulo">
                    <div class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto</p>
                        <P class="price">Precio: $$$</P>
                        <button class="botonBuy">Agregar al carrito</button>
                    </div>
                </a>

                <a href="/product/productDetail" class="articulo">
                    <div class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto</p>
                        <P class="price">Precio: $$$</P>
                        <button class="botonBuy">Agregar al carrito</button>
                    </div>
                </a>

                <a href="/product/productDetail" class="articulo">
                    <div class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto</p>
                        <P class="price">Precio: $$$</P>
                        <button class="botonBuy">Agregar al carrito</button>
                    </div>
                </a>

            </section>

            h2 class="pOfertas">Ofertas</h2>

            <section class="contenedor-p2">

                <a href="/product/productDetail" class="articulo">
                    <div class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto</p>
                        <P class="price">Precio: $$$</P>
                        <button class="botonBuy">Agregar al carrito</button>
                    </div>
                </a>

                <a href="/product/productDetail" class="articulo">
                    <div class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto</p>
                        <P class="price">Precio: $$$</P>
                        <button class="botonBuy">Agregar al carrito</button>
                    </div>
                </a>

                <a href="/product/productDetail" class="articulo">
                    <div class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto</p>
                        <P class="price">Precio: $$$</P>
                        <button class="botonBuy">Agregar al carrito</button>
                    </div>
                </a>

                <a href="/product/productDetail" class="articulo">
                    <div class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto</p>
                        <P class="price">Precio: $$$</P>
                        <button class="botonBuy">Agregar al carrito</button>
                    </div>
                </a>

            </section>

            h2 class="pOfertas">Ofertas</h2>

            <section class="contenedor-p3">

                <a href="/product/productDetail" class="articulo">
                    <div class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto</p>
                        <P class="price">Precio: $$$</P>
                        <button class="botonBuy">Agregar al carrito</button>
                    </div>
                </a>

                <a href="/product/productDetail" class="articulo">
                    <div class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto</p>
                        <P class="price">Precio: $$$</P>
                        <button class="botonBuy">Agregar al carrito</button>
                    </div>
                </a>

                <a href="/product/productDetail" class="articulo">
                    <div class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto</p>
                        <P class="price">Precio: $$$</P>
                        <button class="botonBuy">Agregar al carrito</button>
                    </div>
                </a>

                <a href="/product/productDetail" class="articulo">
                    <div class="main-article">
                        <img src="img/te.jpg" alt="te" class="te">
                        <p class="product">Producto</p>
                        <P class="price">Precio: $$$</P>
                        <button class="botonBuy">Agregar al carrito</button>
                    </div>
                </a>

            </section>

        </section>

        

    </main>


    <%-include('./partials/footer')%>
    

</body>

</html>