*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
   /* border:2px solid green;*/
}
.main-section{
    min-height: 100%;
    background-color: whitesmoke;
    height: fit-content;
}
.carrusel {
    /*border: 2px solid red;*/
    display: flex;
   /* height: 30vh;*/
<<<<<<< HEAD
    width: 100vw;
=======
    width: 100%;
    height: 15vh;
>>>>>>> 6ce581ba28f597e8c64a9896b7200b1e7afe0485
   /* background-color:lightgoldenrodyellow;*/
    /*opacity: 100%;*/
    
}
.carrusel img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.contenedor-productos{
   /* border:2px solid blue;*/
    display: flex;
    flex-wrap: wrap;
<<<<<<< HEAD
    /*flex-direction: row;*/
    justify-content:space-between;
=======
    flex-direction: row;
    justify-content:space-evenly;
    height:100%;
>>>>>>> 6ce581ba28f597e8c64a9896b7200b1e7afe0485
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color:whitesmoke;
}

.contenedor-p1{
   /* border:2px solid red;*/
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.contenedor-p2{
    /*border:2px solid blue;*/
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.main-article{
    display: flex;
    flex-direction: column;
   /* border:1px solid lightgray;*/
    background-color: white;
    border-radius: 6%;
    margin:20px;
    position: relative;
   /* padding-top: 250px;*/
    height:330px;
    width: 250px;
}

.main-article:hover {
    box-shadow: 10px 10px 5px lightgrey;
    
}

.main-article img{
    margin-top: 50px;
    margin-left: 25px;
    width: 200px;
    border-radius: 6%;
}

.product{
   /* border: 2px solid red;*/
    margin-top: 20px;
    padding-left: 5px;
    color: black;
    text-align: left;

}

.price{
   /* border: 2px solid blue;*/
    margin-top: 20px;
    padding-left: 5px;
    color: black;
    text-align: left;
    
    
}

.botonBuy{
    /*border: 2px solid green;*/
    position: relative;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    background-color: rgb(45, 164, 249);
    align-content: center;
    text-align: center;
    left: 50px;
    height: 25px;
    width: 150px;
}

.botonBuy:hover{
    /*transform: scale(1.02); */
    background-color: rgb(39, 145, 221);
}

@media (max-width:768px){
    /* MEDIA-HEADER (resolucion tablet) */
    
   

@media (max-width:480px) {
  
    /* MEDIA MAIN (resolucion cel) */
    